/* Le aratam ca daca facem toate elementele de tip paragraf cu culoarea rosie
atunci rezultatul nu este cel dorit si facem trecerea catre clase */
/* 8 a - aratam mai intai ca se poate pune pe toate paragrafele, iar apoi cream clasa de la 8 b*/
/* p {
  color: red;
} */

/* 14 - le aratam cum functioneaza selectorul universal */
* {
  font-size: 40px;
}

/* 8 b */
.red {
  color: red;
}

/* 13 - le aratam cum functioneaz background-color - ul, color-ul, font-size-ul si text-align-ul */
.formular {
  background-color: green;
  color: white;
  font-size: 20px;
  text-align: center;
}

/* 9 - punem id-ul crocodilFrumos si le aratam cum sa redimensionam o 
poza dupa ce am schimbat imaginea cu cea nemicsorata din assets */
#crocodilFrumos {
  height: 266px;
  width: 200px;
  border: 1px solid black;
  border-radius: 10px;
  padding-right: 50px;
  margin-top: 50px;
}

/* 10 - punem clasa berica si le aratam cum se pune contur la imagine si margini */
.berica {
  border: 1px solid black;
  margin: 20px;
}

/* 11 - punem id-ul bereaCroco - le aratam cum functioneaza margin la nivel mai complex */
#bereaCroco {
  margin: 0px 200px 50px 0;
}

/* 12 - stilizare buton - le aratam cum functioneaza hover-ul  */
.butonCroco {
  padding: 10px;
  margin: 20px;
}
.butonCroco:hover {
  background-color: red;
}
